---

---

<section>
  <h2>Sobre mi</h2>
  <p>
    Soy un desarrollador web con experiencia en la creación de aplicaciones web
    con código como Astro, HTML, React y Angular, además de la producción de
    páginas web sin código con herramientas como Wordpress.
  </p>
  <p>
    Tengo experiencia en la planificación, diseño y desarrollo de aplicaciones
    web utilizando herramientas como Figma, así como en la gestión de proyectos
    y la colaboración con equipos.
  </p>
</section>

<style>
  section {
    width: min(100% - 2rem, 80ch);
    margin: 3rem auto;
  }

  h2 {
    font-size: 2rem;
    color: var(--clr-primary);
  }

  p {
    font-size: 1.15rem;
    line-height: 1.5;
  }
</style>
