---
import CardPost from "./CardPost.astro";
---

<section>
  <h2>Posts</h2>
  <small>Ordenados de más reciente al menos reciente.</small>
  <div class="posts">
    <CardPost
      title="Aprender HTML"
      tags={["Aprender", "Desarrollo web", "HTML"]}
      image="https://images.unsplash.com/photo-1542831371-29b0f74f9713?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHRtbHxlbnwwfHwwfHx8MA%3D%3D"
      link="/blog-posts/1"
    />

    <CardPost
      title="Aprender CSS"
      tags={["Aprender", "Desarrollo web", "CSS"]}
      image="https://images.unsplash.com/photo-1634634465913-5bb5600942f2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      link="/blog-posts/2"
    />

    <CardPost
      title="Aprender JavaScript"
      tags={["Aprender", "Desarrollo web", "JavaScript"]}
      image="https://images.unsplash.com/photo-1667372393086-9d4001d51cf1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8amF2YXNjcmlwdHxlbnwwfHwwfHx8MA%3D%3D"
      link="/blog-posts/3"
    />
  </div>
</section>

<style>
  section {
    width: min(100% - 2rem, 1200px);
    margin: 3rem auto;
  }

  h2 {
    font-size: 1.8rem;
    color: var(--clr-primary);
    margin: 0.5rem 0rem;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  small {
    font-size: 0.9rem;
    color: #5e5e5e;
  }
</style>
