---
const { title, tags, image, link } = Astro.props;
---

<article class="card">
  <img src={image} alt="" />
  <h3>{title}</h3>
  <span>
    {tags.map((tag: String) => <a href="">{tag}</a>)}
  </span>
  <a class="button" href={link}>Leer post completo</a>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 300px;
    margin: auto;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    background-color: var(--clr-primary);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 700;
    color: #ffff;
    margin: 0;
    padding: 0;
    margin-block: 1rem;
  }

  span {
    display: flex;
    gap: 1rem;
    a {
      flex-shrink: 0;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
      color: #ffff;
      font-size: 0.9rem;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: var(--clr-complementary);
    }
  }

  img {
    aspect-ratio: 16/9;
    border-radius: 12px;
  }

  .button {
    background-color: var(--clr-neutral);
    border-radius: 12px;
    border: none;
    margin-top: 2.5rem;
    padding: 0.8rem 1rem;
    font: inherit;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    color: var(--clr-primary);
    text-align: center;
  }
</style>
