---
import CardPost from "./CardPost.astro";
---

<section class="wave">
  <header>
    <h2>Posts más recientes</h2>
    <a href="">Ver todos los posts publicados -></a>
  </header>
  <div class="posts">
    <CardPost
      title="Aprender HTML"
      tags={["Aprender", "Desarrollo web", "HTML"]}
      image="https://images.unsplash.com/photo-1542831371-29b0f74f9713?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHRtbHxlbnwwfHwwfHx8MA%3D%3D"
      link="/blog-posts/1"
    />
    <CardPost
      title="Aprender CSS"
      tags={["Aprender", "Desarrollo web", "CSS"]}
      image="https://images.unsplash.com/photo-1634634465913-5bb5600942f2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      link="/blog-posts/2"
    />
    <CardPost
      title="Aprender JavaScript"
      tags={["Aprender", "Desarrollo web", "JavaScript"]}
      image="https://images.unsplash.com/photo-1667372393086-9d4001d51cf1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8amF2YXNjcmlwdHxlbnwwfHwwfHx8MA%3D%3D"
      link="/blog-posts/3"
    />
  </div>
</section>

<style>
  .wave svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .wave {
    flex: 1;
    background-color: var(--clr-tertiary);
    padding-block: 7rem;
    position: relative;
    width: 100%;
  }

  .wave::after,
  .wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: #ffff;
    -webkit-mask-image: url("../assets/wave.svg");
    -webkit-mask-size: 100% 100px;
  }

  .wave::before {
    top: 0;
    left: 0;
    transform: rotate(0.5turn);
  }
  .wave::after {
    bottom: 0;
    left: 0;
  }
  h2 {
    font-size: 2rem;
    color: var(--clr-primary);
    font-weight: 700;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-inline: 1rem;
    gap: 0.5rem;

    a {
      flex-shrink: 0;
      color: #5e5e5e;
      text-decoration: none;
    }
    a:hover {
      color: var(--clr-primary);
      text-decoration: underline;
    }
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
  }

  @media screen and (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
</style>
