<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <p class="username">JevalDEV</p>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/blog-posts">Blog</a></li>
          <li><a href="/contacts">Contáctame</a></li>
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>

<style>
  :root {
    --clr-primary: #1d3557;
    --clr-secondary: #457b9d;
    --clr-tertiary: #a8dadc;
    --clr-complementary: #e84c58;
    --clr-neutral: #f1faee;
  }
  html,
  body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 2rem, 1200px);
    margin: auto;
  }

  .username {
    font-size: 2rem;
    color: #1d3557;
    font-weight: 700;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: #457b9d;
    }
  }
</style>
