---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
const pageTitle = "Mi Blog en Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Aqui es donde publicaré mi progreso en Astro

    <ul>
      {
        allPosts.map((post: any) => (
          <li>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </p>
</BaseLayout>
